<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<% if current_user %>
  <p><%= current_user.username %> currently logged in</p>
  <%= button_to 'Log Out', session_url, method: :delete %>
<% else %>
  <%= button_to 'Log In', new_session_url, method: :get %>
<% end %>

  <%= link_to 'All Subs', subs_url %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

  <body>
    <%= yield %>
  </body>
</html>
